html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Footer */
footer {
    background-color: #0c0c37;
    /* color: white; */
    flex-shrink: 0;
    margin-top: auto;
    padding: 1rem;
}



/* Seccion nav bar */
.navbar-custom {
    background-color: #0c0c37;
    /* Color café oscuro personalizado */
}

/* Seccion de bienvenida */
.section-custom {
    background-color: #f3f3f3;
    /* Color café claro personalizado */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Seccion main de formularios */


/* Icono de git */
.fixed-icon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    width: 50px;
    /* Aumenta el tamaño del ícono */
    height: 50px;
    /* Aumenta el tamaño del ícono */
    border-radius: 200px;
    /* Aumenta el tamaño del borde redondeado */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Establece el color de fondo a negro */
}

.fixed-icon svg {
    width: 30px;
    /* Aumenta el tamaño del contenido del ícono */
    height: 30px;
    /* Aumenta el tamaño del contenido del ícono */
    fill: white;
    ;
    /* Establece el color del contenido del ícono a blanco */
}

/* Form del cliente */
.form-cliente {
    max-width: 700px;
    /* Puedes ajustar el valor según tus necesidades */
    margin: 0 auto;

}


/* Form Servicios*/
.form-container {
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    max-width: 700px;
    /* Ajusta el ancho máximo según tus necesidades */
    margin-left: auto;
    margin-right: auto;
}

.form-check {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-check-label:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-label {
    font-size: 18px;
}

/* Orden Trabajo */
#cliente {
    border-right: 1px solid #ccc;
    padding-right: 80px;
    margin-right: 10px;
}

#estadoVehiculo {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#serviciosSeleccionados {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#botones {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

/* Boton interuptor */

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: yellow;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}


